<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
Copyright 2015-2022 National Technology & Engineering Solutions of Sandia, LLC (NTESS).
Under the terms of Contract DE-NA0003525 with NTESS, the U.S.Government retains certain
rights in this software.

You should have received a copy of the GNU General Public License along with
HyRAM+. If not, see https://www.gnu.org/licenses/.
*/
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="HyRAM+" Version="4.1" Manufacturer="Sandia National Laboratories"
          IconSourceFile="$(var.Hyram.Gui.ProjectDir)Resources\LogoNoNameSm.ico"
          UpgradeCode="89739331-5be8-4eb2-a5a4-32b1b732d15f"
          >

    <!-- Variable to set default checkbox value -->
    <!--<Variable Name="AddDesktopShortcut" Type="numeric" Value="1" />-->
    <!-- Variable to pass value to msi-->
    <!--<Variable Name="AddDesktopShortcutMsiVariable" bal:Overridable="yes" Value="[AddDesktopShortcut]" />-->
    <Variable Name="InstallFolder" Type="string" bal:Overridable="yes" Value="[ProgramFiles64Folder]Sandia National Laboratories\HyRAM\" />

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.Hyram.Gui.ProjectDir)Resources\CopyrightFormatted.rtf"
        LogoFile="$(var.Hyram.Gui.ProjectDir)Resources\LogoNoName64x64.png"
        ThemeFile="theme.xml"
            />
    </BootstrapperApplicationRef>

    <Chain>
      <!--Install .NET from web-->
      <PackageGroupRef Id="NetFx461Web"/>
      <MsiPackage Id="HyRAM" SourceFile="$(var.Hyram.Setup.TargetPath)">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]"/>
      </MsiPackage>
		</Chain>

	</Bundle>
</Wix>
