<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QRA_Frontend.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <QRA_Frontend.Properties.Settings>
      <setting name="plotSavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="workspaceSavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="MFROrificeDiamDistUnit" serializeAs="String">
        <value>Meter</value>
      </setting>
      <setting name="MFRPressureUnit" serializeAs="String">
        <value>Pa</value>
      </setting>
      <setting name="MFRVolumeUnit" serializeAs="String">
        <value>Liter</value>
      </setting>
      <setting name="MFRTempUnit" serializeAs="String">
        <value>Kelvin</value>
      </setting>
      <setting name="TPDTempUnit" serializeAs="String">
        <value>Kelvin</value>
      </setting>
      <setting name="TPDPressureUnit" serializeAs="String">
        <value>Pa</value>
      </setting>
      <setting name="TPDDensitiyUnit" serializeAs="String">
        <value>KilogramCubicMeter</value>
      </setting>
      <setting name="TPDDensityControl" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TPDPressureControl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TPDTempControl" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPHorizLines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OPMarkDots" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TMPressureUnit" serializeAs="String">
        <value>Pa</value>
      </setting>
      <setting name="TMTempUnit" serializeAs="String">
        <value>Kelvin</value>
      </setting>
      <setting name="TMMassUnit" serializeAs="String">
        <value>Kilogram</value>
      </setting>
      <setting name="TMVolumeUnit" serializeAs="String">
        <value>CubicMeter</value>
      </setting>
    </QRA_Frontend.Properties.Settings>
  </userSettings>
</configuration>