<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
Copyright 2015-2022 National Technology & Engineering Solutions of Sandia, LLC (NTESS).
Under the terms of Contract DE-NA0003525 with NTESS, the U.S.Government retains certain
rights in this software.

You should have received a copy of the GNU General Public License along with
HyRAM+. If not, see https://www.gnu.org/licenses/.
*/
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="C43A602E-82BA-4D0A-8AD7-1A69381EAB5C"
           Name="HyRAM+"
           Language="1033"
           Version="5.0"
           Manufacturer="Sandia National Laboratories"
           UpgradeCode="A6256A13-D1FE-4D2E-9BB8-DEE9FF314047"
           >

    <Package Id="*"
             Keywords="Installer" Description="HyRAM+ Installer" Platform="x64"
             InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
             />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--<PropertyRef Id="WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED" />
    <Condition Message="HyRAM requires .NET Framework 4.6.1 or higher.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_461_OR_LATER_INSTALLED]]>
    </Condition>-->

    <!--<MediaTemplate />-->

    <Media Id="1" Cabinet="hyram.cab" EmbedCab="yes" />
    <!--<UIRef Id="WixUI_Mondo" />-->

    <Feature Id="Complete" Level="1">
      <!--Tells Windows what to actually install-->
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PythonComponentGroup" />
      <ComponentGroupRef Id="PythonLibsComponentGroup" />
      <ComponentGroupRef Id="PythonCsApiComponentGroup" />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>
    <Icon Id="HyRAM.exe" SourceFile="$(var.Hyram.Gui.ProjectDir)Resources\LogoNoNameSm.ico" />
    <Property Id="ARPPRODUCTICON" Value="HyRAM.exe" />
  </Product>

    <Fragment>
      <Directory Id="TARGETDIR" Name="SourceDir">

        <Directory Id="DesktopFolder" Name="Desktop" />

        <Directory Id="ProgramFiles64Folder">
          <Directory Id="CompanyFolder" Name="Sandia National Laboratories">
            <Directory Id="INSTALLFOLDER" Name="HyRAM">

              <Directory Id="python" Name="python"
                         ComponentGuidGenerationSeed="{3CD9FCBD-65A6-456E-908B-045EDD6353E6}"/>
              <Directory Id="PythonComponentGroup" ></Directory>

              <Directory Id="pylibs" Name="pylibs"
                         ComponentGuidGenerationSeed="{DC95B353-47C5-41C6-88D9-93460E4918BA}">
                <Directory Id="HyramPythonLib" Name="hyram"
                           ComponentGuidGenerationSeed="{6660035D-36BD-4C46-9253-29AD90CBB24C}"/>
                <Directory Id="PythonLibsComponentGroup" ></Directory>

                <Directory Id="PythonCsApi" Name="cs_api"
                           ComponentGuidGenerationSeed="{AA82690E-6F9A-467D-98D6-0E1BDD00AFF4}"/>
                <Directory Id="PythonCsApiComponentGroup" ></Directory>
              </Directory>

            </Directory>
          </Directory>
        </Directory>

        <Directory Id="ProgramMenuFolder" Name="Programs">
          <Directory Id="ProgramMenuDir" Name="HyRAM">
            <Component Id="ProgramMenuDir" Guid="{8B4BEFF0-8618-4129-9E53-50DF5437E7CF}">
              <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
              <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!--<Component Id="Shortcuts" Guid="{C49F1B53-51CF-46BC-97A8-93B347CCDDD1}" KeyPath="yes">-->
      <!--</Component>-->
      <Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="*">
        <File Id="Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" />
      </Component>
      <Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="*">
        <File Id="System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="System.Text.Encodings.Web.dll" Guid="*">
        <File Id="System.Text.Encodings.Web.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="System.Buffers.dll" Guid="*">
        <File Id="System.Buffers.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Buffers.dll" />
      </Component>
      <Component Id="System.Memory.dll" Guid="*">
        <File Id="System.Memory.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Memory.dll" />
      </Component>
      <Component Id="System.Numerics.Vectors.dll" Guid="*">
        <File Id="System.Numerics.Vectors.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="System.Threading.Tasks.Extensions.dll" Guid="*">
        <File Id="System.Threading.Tasks.Extensions.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="System.ValueTuple.dll" Guid="*">
        <File Id="System.ValueTuple.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.ValueTuple.dll" />
      </Component>
      <Component Id="System.Text.Json.dll" Guid="*">
        <File Id="System.Text.Json.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)System.Text.Json.dll" />
      </Component>

      <Component Id="HyramUnits">
        <File Source="$(var.Hyram.Units.TargetPath)" />
      </Component>
      <Component Id="Hyram.Units.dll.config" Guid="*">
        <File Id="Hyram.Units.dll.config" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)Hyram.Units.dll.config" />
      </Component>

      <Component Id="HyramUtilities">
        <File Source="$(var.Hyram.Utilities.TargetPath)" />
      </Component>

      <Component Id="HyramState">
        <File Source="$(var.Hyram.State.TargetPath)" />
      </Component>
      <Component Id="Hyram.State.dll.config" Guid="*">
        <File Id="Hyram.State.dll.config" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)Hyram.State.dll.config" />
      </Component>

      <Component Id="HyramPythonApi">
        <File Source="$(var.Hyram.PythonApi.TargetPath)" />
      </Component>
      <Component Id="HyramGui">
        <Shortcut Id="startmenuShortcut" Directory="ProgramMenuDir" Name="HyRAM"
                  WorkingDirectory='INSTALLDIR' Icon="HyRAM.exe" IconIndex="0" Advertise="yes" />
        <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="HyRAM"
                  WorkingDirectory='INSTALLDIR' Icon="HyRAM.exe" IconIndex="0" Advertise="yes" />
        <File Source="$(var.Hyram.Gui.TargetPath)" />
      </Component>
      <Component Id="Hyram.exe.config" Guid="*">
        <File Id="Hyram.exe.config" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)Hyram.exe.config" />
      </Component>
      <Component Id="MathNet.Numerics.dll" Guid="*">
        <File Id="MathNet.Numerics.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)MathNet.Numerics.dll" />
      </Component>
      <!-- <Component Id="Newtonsoft.Json.dll" Guid="*"> -->
      <!--   <File Id="Newtonsoft.Json.dll" KeyPath="yes" -->
      <!--         Source="$(var.Hyram.Gui.TargetDir)Newtonsoft.Json.dll" /> -->
      <!-- </Component> -->
      <Component Id="Python.Runtime.dll" Guid="*">
        <File Id="Python.Runtime.dll" KeyPath="yes"
              Source="$(var.Hyram.Gui.TargetDir)Python.Runtime.dll" />
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>
