<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PythonCsApi" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PythonCsApiComponentGroup">
            <Component Id="cmpDB165F14E0ECB334274C7725CDEDF1A0" Directory="PythonCsApi" Guid="*">
                <File Id="fil6A315FD135D20B7CF670D9DB41E8A37F" KeyPath="yes" Source="$(var.PythonCsApiDir)\exceptions.py" />
            </Component>
            <Component Id="cmp4BF714DD9E65450F71CF29D725F7BE95" Directory="PythonCsApi" Guid="*">
                <File Id="filBFADE4076F14C915BE4591DC40120B10" KeyPath="yes" Source="$(var.PythonCsApiDir)\phys.py" />
            </Component>
            <Component Id="cmp0035B24663D3431AA8B271FF9FE2F2B6" Directory="PythonCsApi" Guid="*">
                <File Id="fil1DE8D8157F43F672AE965F64780562C6" KeyPath="yes" Source="$(var.PythonCsApiDir)\qra.py" />
            </Component>
            <Component Id="cmp4A34D949BD5596FE8975EBC458111452" Directory="PythonCsApi" Guid="*">
                <File Id="fil952D9CC3D4C117DF7F382A80D39538DE" KeyPath="yes" Source="$(var.PythonCsApiDir)\requirements.txt" />
            </Component>
            <Component Id="cmp91B079059910486F33189229A2892BCD" Directory="PythonCsApi" Guid="*">
                <File Id="fil51862BB9F72796A6B806DD078D80940C" KeyPath="yes" Source="$(var.PythonCsApiDir)\utils.py" />
            </Component>
            <Component Id="cmp1B22E51ADAAE821A93E0991A0F210399" Directory="PythonCsApi" Guid="*">
                <File Id="fil83EB68A4F1FF09C7338764DD44FB74E6" KeyPath="yes" Source="$(var.PythonCsApiDir)\__init__.py" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>