<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="HyramPythonLib">
            <Directory Id="dir0D483AFE08CE557B8028AEB9CD311670" Name="phys" />
            <Directory Id="dir16BC304A3C66D86CD856D11DC8C19ACD" Name="qra" />
            <Directory Id="dir58DED0CFFB88F0977458E19277C40386" Name="utilities" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="PythonLibsComponentGroup">
            <Component Id="cmpEC67949288AE6F25D20C28583C4CC5A5" Directory="HyramPythonLib" Guid="*">
                <File Id="filF37195ABC4BEBC08EBB96B17BEE9B264" KeyPath="yes" Source="$(var.PythonLibsDir)\__init__.py" />
            </Component>
            <Component Id="cmp5427BCA2D5E4A13560CE6DB9BA68C426" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil3B18815DB7035F6519BC5AD23732D926" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\api.py" />
            </Component>
            <Component Id="cmp611BA9F603B11C7300A33A887C42C837" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil2EF19F60E8D26CF2B03E85AE9730B5EB" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_comps.py" />
            </Component>
            <Component Id="cmpB9B42720E85EF2E16582CD0D14B9EB8D" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil075DDFD9CEA5B53CD4C6030764CE961D" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_flame.py" />
            </Component>
            <Component Id="cmpE158D467F2CDB0643A56C3099727C84F" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil7CB330302066B293E5FEC19542678FE4" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_fuel_props.py" />
            </Component>
            <Component Id="cmp1EBACAD6694F69B517297E01AC12194A" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="filEF0B078622C369486275920FFD58286B" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_indoor_release.py" />
            </Component>
            <Component Id="cmp109687339B5E1A626A0E340CCFFA7B59" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="filD8221EACA3D316EFFBB9173EBEF18309" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_jet.py" />
            </Component>
            <Component Id="cmp8AB229844F4CB3E82453A9255D4B2E7E" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="filDAB08A80048DBF3B35A0F981E373C4D2" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_layer.py" />
            </Component>
            <Component Id="cmp66A0E3F4A1C5E4E3070A87644E1414B8" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil50A0687B6D314236718A8FAB0358C54A" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_notional_nozzle.py" />
            </Component>
            <Component Id="cmp656D99B63FC4AC38E76651D5822FEABA" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil39E6AB339958589E8839D091B22EAA4A" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_overpressure_data.py" />
            </Component>
            <Component Id="cmp32A3CF2371A9A6912FA21E4B82AAE4B7" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="filA19240E3232909277C73ED1381408A77" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_plots.py" />
            </Component>
            <Component Id="cmp531059FEE0BE86F9470185BB13D71AD7" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil675EFF95FE098678B811C00332BDB2B3" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_pool.py" />
            </Component>
            <Component Id="cmpA81A46BB276E5166D621602D0D5F4743" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="filCFDA90A0CC2626BA32F9E2AEC6336B24" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_therm.py" />
            </Component>
            <Component Id="cmp242D51FF78595938365662395B820BB9" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil9DBB3D81EB6949BC4DD45510BAB61A10" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_unconfined_overpressure.py" />
            </Component>
            <Component Id="cmpF4E826EB297770942F93B1A761B22930" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil03C62ED8C8A5C61B35CBFDF253169D32" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\_utils.py" />
            </Component>
            <Component Id="cmp0D9A5B2E4DE0E1E70EC30CE3FB6B88C3" Directory="dir0D483AFE08CE557B8028AEB9CD311670" Guid="*">
                <File Id="fil0A2651635840C1317519FC45459A316D" KeyPath="yes" Source="$(var.PythonLibsDir)\phys\__init__.py" />
            </Component>
            <Component Id="cmpE42BBB2BFD3802028DB3ECE3AEDEE210" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="fil63EC2567CED9330C0C1FFFF8835E6444" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\analysis.py" />
            </Component>
            <Component Id="cmpA7D0DE36EE7F0211F259EF9E9479215A" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="fil4ADACF69C7649DE9FB59F5A0DD4F3BF1" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\component_failure.py" />
            </Component>
            <Component Id="cmp4D6425F11FC92FCDF9D2F11A0B1B4107" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="fil65A3C0371CE55F748AA8B6A482A596FB" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\component_set.py" />
            </Component>
            <Component Id="cmp374712F37FF602CD0556AD99F8BF2772" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="fil5BF4F588E1AF04D2B5E41E7835554BE5" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\consequence.py" />
            </Component>
            <Component Id="cmp1A65197CF4CE26AAF3A608E8F3DBD97B" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filEAE7ABEF34891A17597628B04BEFFD1B" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\distributions.py" />
            </Component>
            <Component Id="cmp54F0AC0D6465083C266E01D6BC64CB82" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="fil3FC4DEBDC44AD3ADAFF0A652FD515C82" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\effects.py" />
            </Component>
            <Component Id="cmp1C1C273AA3BFEABD862A933827C1FA76" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filE04EA32B020411801D7E85412644CCF7" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\event_tree.py" />
            </Component>
            <Component Id="cmpBEBEEE64C4287EB9B46B7933F8C338FE" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filE9C24098CF9F480BCA7E28A1D314F6CD" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\ignition_probs.py" />
            </Component>
            <Component Id="cmp0AB1133F3E9B98552AD2DA009111BA1E" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filBB5803C76C597EB473174548A1C37CCD" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\leaks.py" />
            </Component>
            <Component Id="cmpE32C7E8E08BC80143C67F779106C2B7A" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filA643091D682BEBF129B9C1F5670C6501" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\leak_size_results.py" />
            </Component>
            <Component Id="cmp49E7837798D03AA4D261E74C2762856F" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filB8859AD53110B7DA4C3BCA6E0599EB65" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\pipe_size.py" />
            </Component>
            <Component Id="cmp2902B44A6DD8E2050165A6A3F04AB32E" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filCA807988C7A0C8DAE0E8E9893D9ECDC7" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\positions.py" />
            </Component>
            <Component Id="cmp881C80738A8F343BB04918E1F5B5BF5C" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="fil7AE7B2FFE6D7B3D41CDFF970FAEA2400" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\probits.py" />
            </Component>
            <Component Id="cmpB71F248E1A87202ABEEE2F6B7430CA0D" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filC0DC36E7412B609356CE5747A2E0CBC3" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\risk.py" />
            </Component>
            <Component Id="cmp142D03E84AAECB1C6E4FFAAF01729E60" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filA104E02AE9120557C2C0CD3D5EEDD5ED" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\_utils.py" />
            </Component>
            <Component Id="cmpAECF8FD2568859D740E86059D5EAF2A8" Directory="dir16BC304A3C66D86CD856D11DC8C19ACD" Guid="*">
                <File Id="filBFE0A3679BB9EA56DB36AE7172D81D92" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\__init__.py" />
            </Component>
            <Component Id="cmp3BDE40D27A02D99AF8BC126A9B2AD21F" Directory="dirA333B2A4DC02DFA2C0694466C630E453" Guid="*">
                <File Id="fil444E735997E9ADA58634583B2D5CFD99" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\data\component_data.py" />
            </Component>
            <Component Id="cmp902224B510A5D9140A0096B81E52B6F9" Directory="dirA333B2A4DC02DFA2C0694466C630E453" Guid="*">
                <File Id="filDFC70124B1D71131C55ED41FD95948FF" KeyPath="yes" Source="$(var.PythonLibsDir)\qra\data\__init__.py" />
            </Component>
            <Component Id="cmp5AA154B0FF4F9CE04E2F33EC19943511" Directory="dir58DED0CFFB88F0977458E19277C40386" Guid="*">
                <File Id="filE511D829B147E657CC4DDB1C3E526A99" KeyPath="yes" Source="$(var.PythonLibsDir)\utilities\custom_warnings.py" />
            </Component>
            <Component Id="cmp377815BEDF588D49155C2756FE677BC1" Directory="dir58DED0CFFB88F0977458E19277C40386" Guid="*">
                <File Id="fil95CF1662580EA1CDFE69E2D6B07F13B5" KeyPath="yes" Source="$(var.PythonLibsDir)\utilities\misc_utils.py" />
            </Component>
            <Component Id="cmp4232FE8F8C9CCF509BBB6B0629BD46F3" Directory="dir58DED0CFFB88F0977458E19277C40386" Guid="*">
                <File Id="filCF1DDD38E6D1606EA7A3442BAE6C4E3C" KeyPath="yes" Source="$(var.PythonLibsDir)\utilities\__init__.py" />
            </Component>
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="dir16BC304A3C66D86CD856D11DC8C19ACD">
            <Directory Id="dirA333B2A4DC02DFA2C0694466C630E453" Name="data" />
        </DirectoryRef>
    </Fragment>
</Wix>