<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="resources" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ResourcesComponentGroup">
            <Component Id="cmp246E64B118D7037A17A2E600EA7B3DC7" Directory="resources" Guid="*">
                <File Id="filDDD5C461799A3845A3E070380212CE5E" KeyPath="yes" Source="$(var.ResourceDir)\0p01pctFT_2020.png" />
            </Component>
            <Component Id="cmp793FE457F0745EE651E3C316B07F19CB" Directory="resources" Guid="*">
                <File Id="fil0F106C10F6774F558C34441CFA80EC1B" KeyPath="yes" Source="$(var.ResourceDir)\0p1pctFT_2020.png" />
            </Component>
            <Component Id="cmp0EF70F307264043C8F46BE278DA410C7" Directory="resources" Guid="*">
                <File Id="fil1F0C4075E8195DA7239B5539C2293870" KeyPath="yes" Source="$(var.ResourceDir)\100pctFT_2020.png" />
            </Component>
            <Component Id="cmp4950FFB025C81079EB2B8EB22347AF33" Directory="resources" Guid="*">
                <File Id="filF64EA375033F54E22976EE759A8AC85A" KeyPath="yes" Source="$(var.ResourceDir)\10pctFT_2020.png" />
            </Component>
            <Component Id="cmp843C1BFF79E5BA7C7C648142AA075D99" Directory="resources" Guid="*">
                <File Id="filE8054423A7C6D9E03FC023E293FE24A0" KeyPath="yes" Source="$(var.ResourceDir)\1pctFT_2020.png" />
            </Component>
            <Component Id="cmp53AF8963C91D10D7EA05118E1D0F1215" Directory="resources" Guid="*">
                <File Id="filC984584ACC0D87C130B6BFF892E40921" KeyPath="yes" Source="$(var.ResourceDir)\ajax-loader.gif" />
            </Component>
            <Component Id="cmpF29B886629BA71F5A5B28BFAF4DA4135" Directory="resources" Guid="*">
                <File Id="filF3129D662B3BD2D40F2810D784C78A58" KeyPath="yes" Source="$(var.ResourceDir)\BannerInstaller.bmp" />
            </Component>
            <Component Id="cmp4432DFBB34A9ADA554947758FE4BDDAE" Directory="resources" Guid="*">
                <File Id="filD8182F28823679ABFAAAF00F429B41D6" KeyPath="yes" Source="$(var.ResourceDir)\BannerInstaller.jpg" />
            </Component>
            <Component Id="cmpC4325CE9F8A9346AEEFB38F822057A6D" Directory="resources" Guid="*">
                <File Id="fil67E5C0522AA8C7B63B13FE91C17C8EF4" KeyPath="yes" Source="$(var.ResourceDir)\BannerLogo.jpg" />
            </Component>
            <Component Id="cmpB89AA5D52DA63C3A5F12C70BFB217BEE" Directory="resources" Guid="*">
                <File Id="fil363E10BCAA01513C6E22C9CC9F9DDDA0" KeyPath="yes" Source="$(var.ResourceDir)\BannerNoLogo.jpg" />
            </Component>
            <Component Id="cmp8BBB43BB80EFF033E89B362C0F81BE5A" Directory="resources" Guid="*">
                <File Id="filA6F2B17AF6D4189A994CEBDC2C42C4F8" KeyPath="yes" Source="$(var.ResourceDir)\CopyrightFormatted.rtf" />
            </Component>
            <Component Id="cmp1DCE6566D8FECD8ABB3E63F0846D56EC" Directory="resources" Guid="*">
                <File Id="filB7300B6B3600FF204FB71C2297FDCE91" KeyPath="yes" Source="$(var.ResourceDir)\ESD_2020.png" />
            </Component>
            <Component Id="cmp59240EFB7C6871C5407DF5E2150116EA" Directory="resources" Guid="*">
                <File Id="fil8CB133889238762CA454E1F7C8D2B8E2" KeyPath="yes" Source="$(var.ResourceDir)\geometry of flame.png" />
            </Component>
            <Component Id="cmp102CA2B4E2AA58E948B94DF9D74D8EB6" Directory="resources" Guid="*">
                <File Id="fil092E08A78859E921D9E76CEE8BBE4BCD" KeyPath="yes" Source="$(var.ResourceDir)\hyram_bigtitle.jpg" />
            </Component>
            <Component Id="cmp5A84DE0BC3F38E06780D6E3C17E6EF86" Directory="resources" Guid="*">
                <File Id="fil7187268E2581B7B75F82AD31F46D8109" KeyPath="yes" Source="$(var.ResourceDir)\icon_79x73.jpg" />
            </Component>
            <Component Id="cmpD5AF2186925B1E73FDEADF395602D501" Directory="resources" Guid="*">
                <File Id="fil1251F7F7E44D58442B7C04E11D83CC5B" KeyPath="yes" Source="$(var.ResourceDir)\Narratives.Designer.cs" />
            </Component>
            <Component Id="cmp436C00EB3A6C1C28B8CD58133C1DD860" Directory="resources" Guid="*">
                <File Id="filCA362653A929663D2E551CA2CC8F782F" KeyPath="yes" Source="$(var.ResourceDir)\Narratives.resx" />
            </Component>
            <Component Id="cmpEACDB7A4CF6DCE6339EBF20275F94211" Directory="resources" Guid="*">
                <File Id="filDB497949FCE34AF5E7E7AB277BAC480F" KeyPath="yes" Source="$(var.ResourceDir)\PhysJetFlameDescrip.rtf" />
            </Component>
            <Component Id="cmpA224230F46D4A8B5BB682B8453313647" Directory="resources" Guid="*">
                <File Id="filFA00ABB9D02404BB6FDE1EC1A79BC306" KeyPath="yes" Source="$(var.ResourceDir)\PhysOverpressureDescrip.rtf" />
            </Component>
            <Component Id="cmp403BB9B0DECE88D08F4D5C2A19D85877" Directory="resources" Guid="*">
                <File Id="fil5A36C1D5A3467C0C2E72F68B6BE7D789" KeyPath="yes" Source="$(var.ResourceDir)\PhysPlumeDescrip.rtf" />
            </Component>
            <Component Id="cmpF8663C37F1AC4836BF30F94F67C03495" Directory="resources" Guid="*">
                <File Id="fil011E4DE797FA256469E01F6CF714BAED" KeyPath="yes" Source="$(var.ResourceDir)\PhysRadHeatDescrip.rtf" />
            </Component>
            <Component Id="cmp50B942312819A5A688E2CD4BC2E628EC" Directory="resources" Guid="*">
                <File Id="fil8403916DD1A3F5A10A166FA89F3BF653" KeyPath="yes" Source="$(var.ResourceDir)\QraConsequenceModelsDescrip.rtf" />
            </Component>
            <Component Id="cmp2B78A0D0ED391FBF828D81712E627BFD" Directory="resources" Guid="*">
                <File Id="filCE9EF8931F9834A8E38D8340BD963A02" KeyPath="yes" Source="$(var.ResourceDir)\QraOutputDescrip.rtf" />
            </Component>
            <Component Id="cmp1474A0A53B7C1204EB3370CA9FFD9636" Directory="resources" Guid="*">
                <File Id="filC4D00D93D786DE33139ADA1E348217BA" KeyPath="yes" Source="$(var.ResourceDir)\QraProbabilitiesDescrip.rtf" />
            </Component>
            <Component Id="cmp1EC152476F8C6CD38BC4189923E631BB" Directory="resources" Guid="*">
                <File Id="fil410D8BFFB9904248FB680677BA531A02" KeyPath="yes" Source="$(var.ResourceDir)\QraScenariosDescrip.rtf" />
            </Component>
            <Component Id="cmpF9F55CC29AD895449C61F9903EAA1E65" Directory="resources" Guid="*">
                <File Id="filA583F1035F2D469E186C91185A9D58F6" KeyPath="yes" Source="$(var.ResourceDir)\QraSystemDescriptionDescrip.rtf" />
            </Component>
            <Component Id="cmp45D94C000EF284F4E772D93F0AEAFCB6" Directory="resources" Guid="*">
                <File Id="fil24A6718D0709F3C44AC87C42D708B382" KeyPath="yes" Source="$(var.ResourceDir)\ThermoWrapperFileMain.txt" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>